
body {
	margin: 0 auto;
	background-color: #8D8D8D;
	font-family: "Open Sans Condensed", sans-serif;
	/*for sticky footer - using flexbox*/
	display: flex;
	min-height: 100vh;
	flex-direction: column;	
}

nav {
	background-color: #3983FF;
}

.brand-logo {
	margin: 0 0 0 10px;
}

.card .card-image .card-title{
	/*can change font color here but not sure to what with varied backgrounds*/
}



/*for sticky footer - using flexbox*/
.wrapper {
	flex: 1 0 auto;
	padding: 10px;
}

footer {
	height: 50px;
	background-color: #3983FF;
	text-align: center;
	margin-top: 50px;
	color: white;
}